@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.backgroundProfile {
    background: linear-gradient(#000000, #3A2B16);
    background-size: cover;
    height: 100%;
    font-family: 'MedievalSharp';
    
};

.globalProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encartProfil {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/encart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 590px;
    height: 225px;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.infoPerso {
    margin: 0;
    
}

.descriptionProfil {
    display: flex;
    background-image: url('../assets/encartGrand.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1158px;
    height: 549px;
    color: black;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    background-color: transparent;
    
}

.paraProfil {
    width: 70%;
}