@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.backgroundLanding {
    background: linear-gradient(#000000, #3A2B16);
    background-size: cover;
    height: 100vh;
}

.All {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#logo {
    z-index: 900;
    height: 70vh;
    animation: pulse-shadow 5s ease-in-out infinite;
    filter: drop-shadow(0px 0px 10rem rgba(168, 168, 168, 0));
}

@keyframes pulse-shadow {
    0% {
      filter: drop-shadow(0px 0px 5rem rgba(168, 168, 168, 0));
    }
    50% {
      filter: drop-shadow(0px 0px 10rem rgba(168, 168, 168, 0.76));
    }
    100% {
      filter: drop-shadow(0px 0px 0rem rgba(168, 168, 168, 0.406));
  }
}

.Button {
    display: flex;
    justify-content: center;
    
}

#buttonEnter:hover {
    z-index: 1000;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(-2px 2px 0.5rem rgba(156, 117, 18, 0.637));
}
